.restarurant{
  margin: 0 auto;
  width: 100%;
  max-width: 2100px;
  height: 100%;
}
header{
  width: 100%;
  height: 50px;
  background-color: #1C272B;
  color: #fff;
  text-align: center;
}
header .logo-title{
  display: inline-block;
  margin: 5px 0 5px 50px;
  height: 30px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
}
header .user-wrap{
 float: right;
 margin: 12px 100px 12px 0;
}
.restarurant .wrap{
  position: absolute;
  top: 50px;
  bottom: 0px;
  width: 100%;
}
.wrap .menu{
  float: left;
  width: 220px;
  height: 100%;
  max-height: 1000px;
  background-color: #545c64;
}
.wrap .content{
  position: absolute;
  left: 220px;
  right: 0;
  height: 100%;
}
/* .wrap .content .el-tabs{
  position: relative;
  height: 100%;
  overflow-y: auto;
} */
