.m-wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.m-head{
  width: 100%;
}
/* 输入框 */
.m-head .el-input{
  margin: 20px 0 0 20px;
  display: inline-block;
  width: 200px;
}
.m-head .el-input input{
  width: 200px;
}
/* 单选框 */
.m-head .el-radio{
  margin-left: 20px;
  margin-right: 0;
}
/* 按钮 */
.m-head .el-button{
  margin: 20px 0 0 20px;
}

.m-body{
  flex:1;
  padding: 0 20px;
  min-width: 500px;
  text-align: center;
  overflow-y: auto;
}

/* 分页 */
.m-body .el-pagination{
  margin: 32px 0;
}

/* el-tab */
.el-tabs{
  position: relative;
  height: 100%;
}
.el-tabs .el-tabs__header .el-tabs__nav{
  border-top: 0px;
  border-bottom: 0px;
}
.el-tabs .el-tabs__content{
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
}
.el-tabs .el-tabs__content .el-tab-pane{
  height: 100%;
}

/* 弹框样式 */
.el-dialog{
  width: 600px;
}
.el-dialog .el-form-item{
  display: flex;
  padding: 0 60px;
}
.el-dialog .myform-item{
  display: flex;
  padding: 0 60px;
  justify-content: space-between;
}
.el-dialog .myform-item .el-form-item{
  padding: 0;
  width: 45%;
}
.el-dialog .el-form-item__label{
  padding: 0;
  width: 60px;
  line-height: 30px;
  text-align: left;
}
.el-dialog .small{
  width: 120px;
}
.el-dialog .el-form-item__content{
  flex: 1;
  line-height: 0;
}
/* 上传图片 */
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 137px;
  height: 137px;
  line-height: 137px;
  text-align: center;
}
.avatar {
  width: 137px;
  height: 137px;
  display: block;
}